.box-game {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.game-drid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  div {
    display: grid;
    place-items: center;
    background-color: aquamarine;
    width: 40px;
    height: 40px;
  }
}

cursor {
  cursor: pointer;
}
