<div>
  <app-filter [filter]="filter" [messageErro]="messageErro"></app-filter>
</div>

<div class="box-result">
  <div *ngFor="let character of characters">
    <div
      (click)="selectCharacter(character)"
      [ngClass]="{ 'character-selected': character.id === resultSelected?.id }"
    >
      <img
        src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}"
        alt=""
      />
      <div>
        <small>{{ character.name }}</small>
      </div>
    </div>
  </div>

  <div *ngIf="resultSelected">
    <button (click)="chooseCharacter()">Escolher</button>
  </div>
</div>
