<section *ngIf="step === 'select-participants'">
  <h6>Selecione os participantes</h6>

  <div>
    <app-filter [filter]="filter" [messageErro]="messageErro"></app-filter>
  </div>

  <div class="box-result">
    <div *ngFor="let character of characters">
      <div (click)="selectCharacter(character)">
        <img
          [ngClass]="{
            'character-selected': character.id === resultSelected?.id
          }"
          src="{{ character.thumbnail.path }}.{{
            character.thumbnail.extension
          }}"
          [alt]="character.name"
        />
        <div>
          <small>{{ character.name }}</small>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="resultSelected">
    <button (click)="chooseCharacter()">Escolher</button>
  </div>
</section>
