button {
  cursor: pointer;
  border: none;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--dark);

  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: var(--main);
    color: #000;
    font-size: 14px;
  }
}
