@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

body,
html {
  max-width: 1728px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: var(--light-2);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  font-style: normal;
  font-family: Montserrat, sans-serif;
}

h1 {
  color: var(--dark, #000);
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h6 {
  color: var(--dark, #000);
  font-family: Montserrat;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15px;
}
