<main>
  <app-score
    [userOne]="ticTacToeService.getUserOne"
    [userTwo]="ticTacToeService.getUserTwo"
  ></app-score>

  <app-select-participants
    (selectedCharacter)="ticTacToeService.selectOpponents($event)"
    [step]="ticTacToeService.step"
  ></app-select-participants>

  <app-draw
    [step]="ticTacToeService.step"
    [characters]="[ticTacToeService.getUserOne, ticTacToeService.getUserTwo]"
    (drawnCharacter)="ticTacToeService.defineCharacterThatStartsTheGame($event)"
  ></app-draw>

  <app-game
    [step]="ticTacToeService.step"
    (onResetGame)="ticTacToeService.restartGame()"
    (onResultOfThePlay)="
      ticTacToeService.toggleCurrentPlayerAndCheckWinner($event)
    "
  ></app-game>
</main>
