<!-- <div>
  <pre>{{ search.value }}  </pre>
</div> -->

<div>
  <input
    #searchBox
    id="search-box"
    (input)="search(searchBox.value)"
    type="search"
  />
  <div>
    <small>{{ messageErro }}</small>
  </div>
</div>

<div class="box-result">
  <div *ngFor="let item of resultFromSearch$ | async">
    <div>
      <img
        src="{{ item.thumbnail.path }}.{{ item.thumbnail.extension }}"
        alt=""
      />
      <div>
        <small>{{ item.name }}</small>
      </div>
    </div>
  </div>
</div>
