<section>
  <div class="box-score">
    <div class="box-image">
      <img
        [ngClass]="{ selected: userOne?.canPlay }"
        [src]="getURLimage(userOne)"
        [alt]="userOne?.name || 'Nome do personagem 1'"
        onerror="this.src='assets/images/character.png'"
      />
      <div class="identifier">
        <span>
          {{ userOne?.identifier }}
        </span>
      </div>
    </div>

    <div class="box-information">
      <div class="name" [title]="userOne?.name">{{ userOne?.name }}</div>
      <div class="points">
        {{ userOne?.points || 0 }}
      </div>
    </div>
  </div>

  <div class="box-score">
    <div class="box-image">
      <img
        [ngClass]="{ selected: userTwo?.canPlay === true }"
        [src]="getURLimage(userTwo)"
        [alt]="userTwo?.name || 'Nome do personagem 1'"
        onerror="this.src='assets/images/character.png'"
      />
      <div class="identifier">
        <span>{{ userTwo?.identifier }}</span>
      </div>
    </div>

    <div class="box-information">
      <div class="name" [title]="userTwo?.name">{{ userTwo?.name }}</div>
      <div class="points">
        {{ userTwo?.points || 0 }}
      </div>
    </div>
  </div>
</section>
